*.html
*.bak
*.vhd.bak
*.rpt
*.qpf
*.qsf
*.qws
*.sof
*.sta.rpt
*.sta
*.summary
*.sta.summary
*.cmp
*.qip
*.wlf
*.qip
*.flow
*.map
*.fit
*.eda
*.cr
*.mti
*.dat
*.dbs
*.prw
*.psm
*.pin
*.mpf
*.sdo
*.xrf
*.sft
*.root_partition
*.tmw_info
*.*.ddb
*.tiscmp
*.smart_action
*.*.sci
*.*.cdb
*.*.hdb
*.sta.*
*.*.logdb
*.*.kpt
*.*ecobp
*.hif
*.eda.*
*.cmp.*
*.*.*.hsd
*.*.xml
*.*.cnf.*
/*/db
/*/work